nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -4px 23px 20px #344CB7 ;
    z-index: 10;
    background-color: #000957;
}
nav ol {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    color: #d7cf69;
}
nav ol li a {
    text-decoration: none;
    color: #d7cf69;
}
nav ol li {
    font-weight: 600;
}


nav ol li a {
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ol li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #ff9800;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

nav ol li a.active {
    color: #ff9800;
}

nav ol li a.active::after {
    width: 100%;
    left: 0;
}

@media (min-width: 1441px) {
    nav {
        height: 100px;
    }
    nav ol{
        width : 55%;
    }
    nav ol li {
        font-size: 28px;
    }
    nav img {
        width: 80px;
        height: 80px;
        margin-left:100px;

    }
}


@media (max-width: 1440px) {
    nav {
        height: 80px;
    }
    nav ol{
        width : 60%;
    }
    nav ol li {
        font-size: 20px;
    }
    nav img {
        width: 60px;
        height: 60px;
        margin-left:50px;

    }
}

@media (max-width: 1024px) {
    nav {
        height: 60px;
    }
    nav ol{
        width : 55%;
    }
    nav ol li {
        font-size: 16px;
    }
    nav img {
        width: 40px;
        height: 40px;
        margin-left:50px;

    }
}


@media (max-width: 769px) {
    nav {
        height: 60px;
    }
    nav ol{
        width : 60%;
    }
    nav ol li {
        font-size: 14px;
    }
    nav img {
        width: 40px;
        height: 40px;
        margin-left:60px;

    }
}

@media (max-width: 426px) {
    nav {
        height: 60px;
    }
    nav ol{
        width : 100%;
    }
    nav ol li {
        font-size: 12px;
    }
    nav img {
        width: 30px;
        height: 30px;
        margin-left:20px;

    }
}

